.linear-color {
    background-image: linear-gradient(100deg, #48b0e0 20%, #1550d1 50%, #2c62d6 75%, #2c62d6);
}

.main-slider {
    position: relative;
}

.slider-content {
    position: absolute;
    /* width: 425px;blo
    height: 425px; */
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    right: 5%;
    transform: translateY(-60%);
    padding: 30px;
}

.slider-content>h2 {
    color: white;
    text-align: center;
}

.slider-content>ul {
    color: white;
    text-align: justify;
    list-style-position: inside;
}

.news {
    /* height: 78px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.news>a {
    text-decoration: none !important;
    color: white;
}

.news>a:hover {
    color: white !important;
}

.news>a>p {
    text-align: center;
    margin: 5px 0;
}

.slider-logo-container {
    width: 100%;
    /* height: 210px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.slider-logo-container img {
    width: 60%;
}


/* _______________chat box ________________*/

.chat-box {
    position: fixed;
    top: 55vh;
    right: 90px;
    display: flex;
    flex-flow: column nowrap;
    z-index: 1000;
    display: none;
}

.chat-box-increaseTop {
    top: 65vh !important;
    opacity: 1;
}

.chat-btn {
    width: 95px;
    height: 95px;
    border: 2px solid #2c62d6;
    border-radius: 15px;
    margin: 7px 15px;
    outline: none !important;
}

.chat-btn-1 {
    background: white url(../images/icons/icon-man.png) no-repeat center center/95%;
}

.chat-btn-2 {
    background: white url(../images/icons/icon-chair.png) no-repeat center center/95%;
}

.chat-box-border {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: #2c62d6;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.233);
}

.chat-content {
    width: 374px;
    height: 270px;
    position: absolute;
    background: white;
    right: 100%;
    top: 20px;
    border: 1px solid #707070a6;
    border-radius: 20px 0 20px 20px;
    padding: 10px;
}

.chat-text {
    width: 51%;
    min-width: 51%;
    border-radius: 25px;
    padding: 7px 10px;
}

.text-1 {
    background-color: #dedede;
    float: left;
}

.text-2 {
    background-color: #b1f4ff;
    float: right;
}


/* page-1 block-1 */

.block-1 {
    background: url(../images/assets/page-1-p1-bg.png) no-repeat local center center/90%;
}

.block-2 {
    height: 70vh;
    background: url(../images/assets/page1-block2-bg.jpg) no-repeat local center center/cover;
    position: relative;
    text-align: center;
    color: white;
    z-index: 2;
}

.block-2::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.block-2>div,
.block-2>div>div {
    height: 100%;
}

.btn-info {
    width: max-content;
    padding: 7px 32px;
    border: 2px solid white !important;
    background: transparent !important;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn-info::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.295);
    transform: translateY(-100%);
    transition: 0.2s ease-in;
}

.btn-info:hover::after {
    transform: translateY(0);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 17vh;
    padding-top: 5vh;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.block2-box {
    height: 15vh !important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 10;
}

.block2-box ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100% !important;
    padding: 0 10%;
}

.block2-box li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
}

.block2-box img {
    height: 30%;
}

.block-4 {
    width: 100%;
    height: 30vh;
    background: url(../images/assets/page1-part4-bg.jpg) no-repeat center center/cover;
    color: white;
    text-align: center;
    position: relative;
}

.block-4::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
}

.block-4>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promotion-1 {
    text-align: right;
}

.promotion-1>h3 {
    color: #1856d2;
    margin: 20px 0;
}

.start-part {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.411);
    margin: 5vw 0;
}

.start-part>li {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 2px solid #707070;
    text-align: right;
}

.start-part span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/icons/icon-tik.png) no-repeat center center/contain;
    margin: 0 10px;
}

.start-btn {
    width: max-content;
    padding: 7px 50px;
    color: white;
    border: none;
    border-radius: 20px;
}


/* _______________book-online________________*/

.main-book {
    width: 100%;
    padding: 150px 0 50px;
    text-align: right;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: url(../images/assets/pattern-combo-1.png) no-repeat left 24%/50% 100%, url(../images/assets/pattern-2-3.png) no-repeat 90% 30%/424px 483px;
}

.main-linkBox {
    background: #eaf7f8;
    padding: 50px 80px;
    width: 60%;
    position: relative;
}

.main-linkBox-title {
    color: #2c62d6;
    font-size: 40px;
    margin-bottom: 40px;
}

.main-linkBox-content {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 30px;
}

.main-linkBox-contentLink {
    color: #ff6868;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.main-linkBox-contentLink:hover,
.main-linkBox-contentLink:active {
    outline: none;
    list-style-type: none;
    color: #ff6868;
    text-decoration: none;
}

.main-linkBox-border {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #707070;
    margin: 5px 0 30px;
}

.main-linkBox-question {
    margin-bottom: 60px;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.main-linkBox-call {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.3);
}

.main-contact {
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: #2c62d6;
}

.main-contact>* {
    margin: 20px 0;
}

.main-medicalTools {
    width: 50%;
    position: absolute;
    left: 5%;
}

.main-medicalTools img {
    width: 100%;
}


/* block-5 */

.block-5 {}

.block-5>div>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-box {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 20px 0;
}

.mini-box::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

.mini-box:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
}

.mini-box h3 {
    position: absolute;
    top: 50%;
    right: 10%;
    color: white;
    border-bottom: 4px solid white;
    padding: 0 0 10px 30px;
    z-index: 5;
}

.mini-box-1 {
    background: url(../images/assets/isfahan.png) no-repeat center center/cover;
}

.mini-box-2 {
    background: url(../images/assets/Tehran.png) no-repeat center center/cover;
}

.mini-box-3 {
    background: url(../images/assets/shiraz.png) no-repeat center center/cover;
}

.mini-box-4 {
    background: url(../images/assets/mashhad.png) no-repeat center center/cover;
}


/* block-6 */

.block-6 {}

.block-6 h4 {
    color: rgba(0, 0, 0, 0.301);
}

.block-6 p {
    color: rgba(42, 120, 215, 0.75);
    font-weight: bold;
}


/* block-7 */

.block-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
}

.navigator-btn-container {
    position: relative;
    width: 80%;
    height: 100%;
}

.bot-slider-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
}

.left-btn,
.right-btn {
    border: none;
    outline: none !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-btn {
    right: 100%;
    background: url(../images/icons/icon-nav-slider.png) no-repeat center center/contain;
    transform: translateY(-50%) rotate(180deg);
    transform-origin: center;
}

.right-btn {
    left: 100%;
    background: url(../images/icons/icon-nav-slider.png) no-repeat center center/contain;
}

.slide-roll {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    white-space: nowrap;
}

.mini-slide {
    border: 1px solid #707070;
    width: 250px;
    height: 200px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:787px) {
    .main-book {
        background: white;
        padding: 0px 0 50px;
    }
    .main-linkBox {
        width: 90%;
        padding: 50px 5px;
    }
    .main-contact {
        width: 90%;
        margin-top: 50px;
    }
    .main-contact span {
        width: 20%;
    }
    .main-contact span img {
        width: 100%;
    }
}

@media screen and (max-width: 787px) {
    .main-book {
        background: white;
        padding: 0px 0 50px;
    }
    .main-linkBox {
        width: 90%;
        padding: 50px 5px;
    }
    .main-contact {
        width: 90%;
        margin-top: 50px;
    }
    .main-contact span {
        width: 20%;
    }
    .main-contact span img {
        width: 100%;
    }
}


/* ______________________block-3_________________________ */

.block-3 {
    padding: 80px 0;
}

.main-blockContainer {
    background: url(../images/assets/Group\ 30.png) no-repeat 20% center/contain, url(../images/assets/pattern-2-3.png) no-repeat 80% center/400px 400px;
}

.main-subMain-block-boxContent {
    background: url(../images/assets/page1-part3-bg.png) no-repeat center center / cover;
    box-shadow: 1px 1px 35px 8px rgba(0, 0, 0, 0.5);
    padding: 100px 50px 150px !important;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.main-subMain-block-boxContent-bgc {
    width: 90%;
    height: 90%;
    background: rgba(103, 182, 202, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box1 {
    border-left: 7px solid #7ba479 !important;
}

.box2 {
    border-left: 7px solid #a179a4 !important;
}

.box3 {
    border-left: 7px solid #c2b3b3 !important;
}


/* ___________________________________media ________________ */

@media screen and (min-width:0px) {
    .slider-content {
        display: none;
    }
    .mini-slide {
        margin: 0 45px;
    }
}

@media screen and (min-width:375px) {}

@media screen and (min-width:425px) {}

@media screen and (min-width:768px) {
    .slider-content {
        width: 200px;
        height: 200px;
        display: block;
    }
    .slider-content>h2 {
        font-size: 20px;
        margin: 5px 0 15px 0;
    }
    .slider-content>ul {
        font-size: 10px;
        list-style-position: outside;
    }
    .slider-content>ul>li {
        margin: 5px 0;
    }
    .mini-slide {
        margin: 0 114px 0 0;
    }
}

@media screen and (min-width:1024px) {
    .slider-content {
        width: 280px;
        height: 280px;
        transform: translateY(-65%);
    }
    .slider-content>h2 {
        font-size: 35px;
        margin: 10px 0 25px 0;
    }
    .slider-content>ul {
        font-size: 13px;
        list-style-position: outside;
    }
    .slider-content>ul>li {
        margin: 10px 0;
    }
    .mini-slide {
        margin: 0 25px 0 0;
    }
}

@media screen and (min-width:1440px) {
    .slider-content {
        width: 400px;
        height: 400px;
        transform: translateY(-65%);
    }
    .slider-content>h2 {
        font-size: 50px;
        margin: 20px 0 50px 0;
    }
    .slider-content>ul {
        font-size: 20px;
    }
    .slider-content>ul>li {
        margin: 20px 0;
    }
    .mini-slide {
        margin: 0 50px 0 0;
    }
}