.main-head {
    padding: 30px 50px;
}

.main-head-title {
    color: #2c62d6;
    font-weight: 400;
    margin-bottom: 50px;
}

.main-head-searchBox {
    width: 525px;
    height: 65px;
    border: 1px solid#2c62d6;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 4%;
    justify-content: flex-end;
}

.main-head-input {
    width: 85%;
    padding: 10px;
    outline: none;
    border: none;
}

.main-subMain {
    padding-top: 50px;
}

.main-subMain-boxContent {
    display: flex;
    justify-content: flex-end;
}

.main-subMain-box {
    /* background: url(../images/assets/box-border.png) no-repeat center center /contain; */
    width: 80%;
    height: 278px;
    border: 4px solid #2c62d6;
    margin-bottom: 120px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.main-subMain-box-bgc {
    background: rgba(255, 255, 255, 0.5);
    width: 55%;
    justify-content: center;
    border: none;
    border-radius: 0;
    height: auto;
    padding: 20px 0;
    margin-bottom: 60px;
}

.main-subMain-SpecializeBox {
    justify-content: center !important;
}

.main-subMain-img {
    width: 215px;
    height: 215px;
    border-radius: 50%;
    padding: 15px;
    background: white;
    border: 4px solid transparent;
    border-left: 4px solid #2c62d6;
    transform: rotate(-43deg);
    overflow: hidden;
    position: absolute;
    right: -115px;
    top: -106px;
}

.main-subMain-img-border-none {
    background: transparent;
    width: 110px;
    height: 110px;
    padding: 0;
    border: none;
    right: -50px;
    top: -50px;
}

.main-subMain-SpecializeImg {
    padding: 0;
    top: 163px !important;
    border: 4px solid transparent !important;
    border-right: 4px solid #2c62d6 !important;
    transform: rotate(-137deg);
}

.main-subMain-img img {
    width: 100%;
    transform: rotate(45deg);
}

.main-subMain-SpecializeImg img {
    width: 100%;
    transform: rotate(137deg);
}

.subMain-title {
    padding: 0 8px;
    margin: 0;
    width: 75%;
}

.subMain-title-increaes {
    width: 85%;
    margin: 0 !important;
}

.subMain-content-box {
    width: 75%;
}

.subMain-content-box-increaes {
    width: 85%;
}

.subMain-content {
    padding: 0 8px;
    margin: 0;
    width: 100%;
}


/*___________________media_________________*/

@media screen and (max-width: 767px) {
    .main-head-searchBox {
        width: 100%;
    }
    .main-subMain-box {
        height: auto;
        width: 100%;
        padding: 50px 0 30px;
        margin-bottom: 70px;
    }
    .subMain-title {
        width: 100%;
        margin-bottom: 40px;
        padding: 0 20px;
    }
    .subMain-content-box {
        width: 100%;
    }
    .main-subMain-box-bgc {
        width: 100% !important;
        padding: 50px 0 10px;
    }
    .main-subMain-SpecializeImg {
        width: 100px;
        height: 100px;
    }
    .main-subMain-img {
        transform: translate(50%, 50%) rotate(0deg);
        border: 4px solid #2c62d6 !important;
        right: 50%;
        width: 100px;
        height: 100px;
        padding: 0;
    }
    .main-subMain-SpecializeImg {
        transform: translate(50%, -60%) rotate(0deg);
    }
    .main-subMain-img img {
        transform: rotate(0deg);
    }
    .main-subMain-img-border-none {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width:1024px) {
    .main-subMain-box-bgc {
        width: 80%;
    }
}

@media screen and (max-width:1499px) and (min-width:1025px) {
    .main-subMain-box-bgc {
        width: 70%;
    }
}

@media screen and (min-width: 1500px) {
    .main-head {
        padding: 50px 120px;
    }
    .main-subMain-boxContent {
        justify-content: center;
    }
    .main-subMain-box {
        width: 60%;
    }
    .main-subMain-box-bgc {
        width: 50%;
    }
    .main-subMain {
        padding-top: 180px;
    }
}